.locations {
  display: block;
  
  &__title {
    color: #31353b;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__list {

    li {
      list-style: none;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    a {
      color: #009fdf;
      font-size: 17px;
      text-decoration: none;
      padding-left: 31px;
      position: relative;
      transition: $tr;

      &:hover {
        padding-left: 36px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 1px;
        background-color:  #dfdfdf;
      }
    }
  }
}