mixin locations()
  +b.locations&attributes(attributes)
    +e.title Выберите ваш город
    +e.UL.list
      li
        a(href="") Томск
      li
        a(href="") Кемерово
      li
        a(href="") Красноярск
      li
        a(href="") Новосибирск