mixin calc()
  +b.calc&attributes(attributes)
    +e.title Калькулятор
    +e.box
      +e.input-wrap
        +e.input-text Сумма сбережений, (руб.)
        +e.INPUT.input(id="calc__summ" value="100000")
      +e.input-wrap
        +e.input-text Срок (мес.)
        +e.INPUT.input(id="calc__mouth" value="12")
    +e.box
      +e.input-wrap
        +e.input-text Ставка по сбережениям (%)
        +e.INPUT.input(id="calc__stavka" readonly value="10")
      +e.input-wrap
        +e.input-text Капитализация процентов
        +e.input-radio
          +radio('capital', 'no', 'true') Нет
          +radio('capital', 'yes') Да
    +e.box
      +e.input-wrap
        +e.input-text Сумма процентов за месяц (руб.)
        +e.INPUT.input(id="calc__proc" readonly)
      +e.input-wrap
        +e.input-text Сумма процентов за весь срок (руб.)
        +e.INPUT.input(id="calc__proc-total" readonly)
    +e.box
      +e.input-wrap
        +e.input-text Налог (руб.)
        +e.INPUT.input(id="calc__nalog" readonly)
      +e.input-wrap
        +e.input-text Сумма к выплате (руб.)
        +e.INPUT.input(id="calc__total-summ" readonly)
    +e.info
      p
        strong Расчет прибыли согласно введенным вами данным
      p Приведенные расчеты являются предварительными. Для точного определения дохода по сбережениям обратитесь, пожалуйста, в офис компании.
    +e.A.btn.js-popup(data-popup="popup-feedback" href="/") Отправить заявку 