$breakpoints: (
	'xxl': 1350px,
	'footer': 1250px,
	'xl': 1220px,
	'lg': 1020px,
	'md': 988px,
	'sm': 685px,
	'smm': 576px,
	'xs': 420px,
);


$color-basic: #31353b;
$color-main: #009fdf;
$color-bg: #0a2973;
$color-bg2: #009fdf;
$color-border: #959696;


$tr: all .3s ease;
