extends ../layouts/default

block head
  - var pageTitle = 'BSS70'

block content

  +b.HEADER.header
    +e.wrap.wrap
      +e.logo
        a(href="/" title="РосИнвест")
          img(src="images/logo.png")
          span РосИнвест
      +e.location
        p Город - <span class="location-city">Томск </span>
        a(href="/" data-popup="popup-location").js-popup Выбрать город
      +e.time
        p пн.-пт. 10:00 - 19:00
        p сб. 10:00 - 16:00
        p вс. выходной
      +e.phone
        p
          strong 8 800 555 2202
        p
          strong 8 3822 203 203
        p
          strong 8 3822 204 204
        +e.call
          a(href="" data-popup="popup-feedback").js-popup Заказать обратный звонок
  .wrapper.menu__wrapper
    .wrap
      .menu
        +menu()
      +burger
  +b.video-block
    +e.wrapper.wrapper
      video(width="100%" height="auto" muted="muted" poster="/"   preload="auto" allow="autoplay" class="video-main")
        source(src="images/test-1.mp4" type="video/mp4")   
  +b.info
    +e.wrapper.wrapper
      +e.slider
        +slider(false, true).info-slider
          +slide('Депозит “Семейный” - доходность 20% годовых')
            img(src="images/slide.jpg")
      +e.calc.wrap
        +calc()
  +b.tarif
    +e.wrapper.wrapper
      +e.wrap.wrap
        +e.H3.title Тариф «Действуй»
        +e.box
          table
            tr
              td
                img(src="images/tarif-1.png")
            tr
              td Сумма: от 10 000 руб.
          table
            tr
              td
                img(src="images/tarif-2.png")
            tr
              td Срок 18 мес.
          table
            tr
              td
                img(src="images/tarif-3.png")
            tr
              td Ставка в год: 13.5%
          table
            tr
              td
                img(src="images/tarif-4.png")
            tr
              td Капитализация: На выбор 
  +b.members
    +e.wrap.wrap
      +e.title Быть членом нашего кооператива выгодно
      +e.info
        p
          strong Бесплатные юридические консультации по гражданско-правовым вопросам
        br
        p Если у вас есть нерешенные жилищно-коммунальные вопросы, вам нужна помощь в других юридических вопросах гражданско-правового характера, то наши юристы помогут в их разрешении! Для этого вам необходимо оставить заявку по телефону горячей линии +7-800-775-08-45, наши сотрудники свяжутся с вами для уточнения даты и времени консультации. С собой необходимо иметь все документы, связанные с решением вашего вопроса. Консультация возможна не чаще чем 1 раз в месяц.
        br
        br
        p
          strong Бесплатная ежемесячная продуктовая корзина
        br  
        p Ежемесячная продуктовая корзина – социальный проект КПК «ЗЕНИТ» в рамках программы «ЕДИНСТВО И ВЗАИМОПОМОЩЬ». Если вы являетесь пайщиком, то с 1-го по 20-е число каждого месяца оставляйте заявку на получение бесплатного набора продуктов по телефону или в офисах КПК. Выдача корзин происходит каждую последнюю субботу месяца. ВНИМАНИЕ! Состав корзины пересматривается каждый месяц – а это значит, что вы сможете получить широкий ассортимент товаров!
      +e.bottom
        +e.A.btn(href="/" data-popup="popup-feedback").js-popup Отправить заявку
        +e.A.more(href="/") 
          span Подробные условия по всем тарифам 
          span »
  main.main
    .wrap.wrap_big.wrap_grey
      +article.article_big
        h1 Кредитный потребительский кооператив «ЗЕНИТ»
        p Кредитный потребительский кооператив — одна из самых перспективных форм финансовой организации небанковского типа. Особенности деятельности кредитных кооперативов позволяют им лидировать на рынке финансовых услуг, предлагая своим пайщикам по-настоящему выгодные условия.
        br
        p Размещая свои сбережения в КПК, пайщик получает 100%-ную гарантию стабильности и высокий доход, превышающий самые лучшие условия по банковским депозитам.
        br
        p Займы от КПК отличаются простотой выдачи и разумным процентом. Кроме того, кредитные кооперативы выдают займы на длительный срок. Сотрудничать с кредитным кооперативом легко и выгодно, поэтому многие люди сегодня выбирают именно КПК.
        br
        br
        h2 5 причин выбрать «ЗЕНИТ» из всех КПК Новосибирска
        p Выбор финансового партнера на долгий срок — очень важное решение. С кредитным потребительским кооперативом «ЗЕНИТ» ваши финансовые дела будут в руках профессионалов. Вот только пять причин, чтобы стать пайщиком КПК «ЗЕНИТ»:
        br
        ul
          li Доходные сбережения. Среди всех КПК Новосибирска «ЗЕНИТ» предлагает отличные условия по тарифам — до 13,5% годовых на ваши сбережения.
          li Выгодные займы. Залоговые займы от 25% до 33%* годовых на срок до двух лет без лишней бюрократии и долгих проверок.
          li Гарантии и безопасность. Все сбережения пайщиков КПК «ЗЕНИТ» застрахованы в Межрегиональном потребительском обществе взаимного страхования.
          li Правовая поддержка. Это абсолютное новшество для КПК Новосибирска — пайщики кредитного кооператива «ЗЕНИТ» получают право на бесплатные юридические консультации по гражданско-правовым вопросам. Чтобы оставить заявку на консультацию, достаточно позвонить по телефону 8-800-775-08-45 или заполнить онлайн-форму.
          li Социальная поддержка. КПК «ЗЕНИТ» оказывает своим пайщикам социальную поддержку — в рамках программы «Единство и взаимопомощь» каждый может получить ежемесячную бесплатную продуктовую корзину.
        br
        p КПК «ЗЕНИТ» — это не только доходные тарифы и выгодные займы, но и высокая социальная ответственность. Присоединяйтесь к нам!
        br
        p * Годовая ставка утверждается индивидуально по каждому заёмщику кредитным комитетом КПК.         
  
  +b.FOOTER.footer
    +e.wrapper.wrapper
      +e.wrap.wrap
        +e.top
          +e.nav
            +e.title Навигация
            ul
              li
                a(href="/") Сбережения
              li
                a(href="/") Займы
              li
                a(href="/") Компания
              li
                a(href="/") Акции
              li
                a(href="/") Страхование сбережений
              li
                a(href="/") Контакты
          +e.cont
            +e.title Связь с нами
            +e.phones
              p 8 800 555 2202
          +e.grafic
            +e.title Режим работы
            +e.time
              p пн.-пт. 10:00 - 20:00
              p сб. 11:00 - 15:00
              p вс. выходной
          +e.adress
            +e.title Адреса
            +e.adress-info
              p г. Томск, пр-т. Ленина 187, офис 15
          +e.copyright
            p © 2019. РосИнвест
        +e.info
          p * Процентная ставка устанавливается при заключении договора сбережений на срок равный 18 месяцев по тарифу «Действуй». Сумма сбережений от 10 000 (десяти тысяч) рублей, начисление процентов на сумму сбережений начинается в день, следующий за датой заключения договора передачи личных сбережений между пайщиком и КПК «ЗЕНИТ», выплата процентов ежемесячно либо в конце срока договора в отделениях с капитализацией. В соответствии с действующим законодательством, из суммы начисленных процентов удерживается НДФЛ. При досрочном расторжении договора передачи личных сбережений по инициативе пайщика применяется процентная ставка, равная 2% годовых. * Кредитный потребительский кооператив «ЗЕНИТ», ИНН 1001337785. Сбережения пайщиков застрахованы в полном объеме в НКО «МОВС», ИНН 7839045118. КПК «ЗЕНИТ» состоит в Союз СРО «Центральное кредитное объединение", ИНН 7708238331. Деятельность КПК «ЗЕНИТ» осуществляется под контролем ЦБ РФ и регулируется ФЗ No 190 «О кредитной кооперации». Для заключения договора размещения сбережений необходимо вступить в члены кооператива — подать заявление и оплатить вступительный взнос 100 рублей и членский взнос 50 рублей. Пайщик солидарно несёт субсидиарную ответственность по обязательствам кооператива в пределах невнесенной части дополнительного взноса. ** Подробности по телефону и в отделениях организации.
        +e.bss
          p Создание сайта - <a href="http://bss70.ru" target="_blank">bss70.ru</a> 
  
  +popups
    +popup.popup-feedback
      +feedback
    +popup.popup-location
      +locations  