extends ../layouts/default

block head
  - var pageTitle = 'BSS70'

block content

  +b.HEADER.header
    +e.wrap.wrap
      +e.logo
        a(href="/" title="РосИнвест")
          img(src="images/logo.png")
          span РосИнвест
      +e.location
        p Город - <span class="location-city">Томск </span>
        a(href="/" data-popup="popup-location").js-popup Выбрать город
      +e.time
        p пн.-пт. 10:00 - 19:00
        p сб. 10:00 - 16:00
        p вс. выходной
      +e.phone
        p
          strong 8 800 555 2202
        p
          strong 8 3822 203 203
        p
          strong 8 3822 204 204
        +e.call
          a(href="" data-popup="popup-feedback").js-popup Заказать обратный звонок
  .wrapper.menu__wrapper
    .wrap
      .menu
        +menu()
      +burger
  main.main.main_yupi
    .wrap
      +article.article_yupi
        h1 Отзывы
        p Противоположная точка зрения подразумевает, что представители современных социальных резервов объективно рассмотрены соответствующими инстанциями. Значимость этих проблем настолько очевидна, что перспективное планирование способствует повышению качества благоприятных перспектив. Учитывая ключевые сценарии поведения, перспективное планирование требует определения и уточнения поставленных обществом задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для новых принципов формирования материально-технической и кадровой базы. 
        br
        p Приятно, граждане, наблюдать, как акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть объявлены нарушающими общечеловеческие нормы этики и морали. В целом, конечно, граница обучения кадров создает предпосылки для первоочередных требований. Банальные, но неопровержимые выводы, а также диаграммы связей освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объективно рассмотрены соответствующими инстанциями. 
        br
        p Кстати, действия представителей оппозиции объявлены нарушающими общечеловеческие нормы этики и морали. Мы вынуждены отталкиваться от того, что убежденность некоторых оппонентов обеспечивает широкому кругу (специалистов) участие в формировании поэтапного и последовательного развития общества.
      +b.otzyvy
        +slider.slider_otzyvy(false,true)
          +slide
            +b.otzyv
              +e.text Как-то увидела рекламу по ТВ о данном КПК, заинтересовала ставка, почти в два раза выше банковской - заманчиво, но в тоже время были сомнения. Подумала и решила, начну с малого - вложилась на мин.срок с ежемесячной выплатой процентова
              +e.name Аноним.20
              +e.A.more(href="/") Читать весь отзыв
          +slide    
            +b.otzyv
              +e.text Разместила свои сбережения в данном кооперативе в январе, каждый месяц согласно всему получаю свои проценты, очень удобное и надежное место для размещения своих сбережений! Спасибо сотрудницам, которые четко и ясно донесли мне всю информацию!)) буду продолжать сотрудничать с вами!
              +e.name Superinvestor
              +e.A.more(href="/") Читать весь отзыв
          +slide    
            +b.otzyv
              +e.text Увидела ролик по телевизору еще в феврале, заинтересовалась, но все не было времени дойти до отделения. В итоге в субботу поехала специально. Хочу отметить очень красивую вывеску, в офисе порядок (что для меня немаловажно), приятная сотрудница, проконсультировала, 
              +e.name Мария Fox
              +e.A.more(href="/") Читать весь отзыв
        +e.nav
          .slider__button_otz.slider__button_otz_next
          .slider__button_otz.slider__button_otz_prev


  +b.FOOTER.footer
    +e.wrapper.wrapper
      +e.wrap.wrap
        +e.top
          +e.nav
            +e.title Навигация
            ul
              li
                a(href="/") Сбережения
              li
                a(href="/") Займы
              li
                a(href="/") Компания
              li
                a(href="/") Акции
              li
                a(href="/") Страхование сбережений
              li
                a(href="/") Контакты
          +e.cont
            +e.title Связь с нами
            +e.phones
              p 8 800 555 2202
          +e.grafic
            +e.title Режим работы
            +e.time
              p пн.-пт. 10:00 - 20:00
              p сб. 11:00 - 15:00
              p вс. выходной
          +e.adress
            +e.title Адреса
            +e.adress-info
              p г. Томск, пр-т. Ленина 187, офис 15
          +e.copyright
            p © 2019. РосИнвест
        +e.info
          p * Процентная ставка устанавливается при заключении договора сбережений на срок равный 18 месяцев по тарифу «Действуй». Сумма сбережений от 10 000 (десяти тысяч) рублей, начисление процентов на сумму сбережений начинается в день, следующий за датой заключения договора передачи личных сбережений между пайщиком и КПК «ЗЕНИТ», выплата процентов ежемесячно либо в конце срока договора в отделениях с капитализацией. В соответствии с действующим законодательством, из суммы начисленных процентов удерживается НДФЛ. При досрочном расторжении договора передачи личных сбережений по инициативе пайщика применяется процентная ставка, равная 2% годовых. * Кредитный потребительский кооператив «ЗЕНИТ», ИНН 1001337785. Сбережения пайщиков застрахованы в полном объеме в НКО «МОВС», ИНН 7839045118. КПК «ЗЕНИТ» состоит в Союз СРО «Центральное кредитное объединение", ИНН 7708238331. Деятельность КПК «ЗЕНИТ» осуществляется под контролем ЦБ РФ и регулируется ФЗ No 190 «О кредитной кооперации». Для заключения договора размещения сбережений необходимо вступить в члены кооператива — подать заявление и оплатить вступительный взнос 100 рублей и членский взнос 50 рублей. Пайщик солидарно несёт субсидиарную ответственность по обязательствам кооператива в пределах невнесенной части дополнительного взноса. ** Подробности по телефону и в отделениях организации.
        +e.bss
          p Создание сайта - <a href="http://bss70.ru" target="_blank">bss70.ru</a> 
  
  +popups
    +popup.popup-feedback
      +feedback
    +popup.popup-location
      +locations  