.nav {
  display: flex;
  justify-content: space-between;
	width: 100%;
  
  $b: &;

	&__prev {
		display: none;
		position: absolute;
		left: 25px;
		top: 22px;
		z-index: 999;
		font-size: 20px;
		color: #fff;
		transition: $tr;
		opacity: 0;
		cursor: pointer;

		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			position: relative;
			margin-right: 15px;
			top: -2px;
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-right: 10px solid #fff;
			z-index: 3;
			transition: $tr;
		}
	}

	&__ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__item {
		list-style: none;
		position: relative;
		height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 1px;
			height: 100%;
			background-color: #061841;
		}

		&:first-child{

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
				height: 100%;
				background-color: #061841;
			}
		}

		&_drop {
			height: 48px;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #d9e2f6;
			}

			&:first-child{

				&::before {
					display: none;
				}
			}
		}
	}

	&__link {
		display: block;
		padding: 0 20px;
		text-decoration: none;
		transform: $tr;
		font-size: 14px;
		letter-spacing: 0.7px;

		color: #fff;

		&:hover,
		&:active,
		&:focus {
			color: $color-main;
		}

		&_single {
			line-height: 70px;
		}

		&_second {
			text-align: left;
			font-size: 12px;
			color: #4fcdff;
			letter-spacing: 0.6px;
			text-decoration: underline;

			&:hover,
			&:active,
			&:focus {
				color: #e8e8c7;
			}
		}

		&_parent {

			&::after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 11px;
				height: 6px;
				margin-left: 5px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='6' viewBox='0 0 11 6'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23009fdf' d='M10.887.115a.384.384 0 0 0-.55 0L5.505 5.053.663.115a.384.384 0 0 0-.55 0 .402.402 0 0 0 0 .56l5.108 5.209c.076.077.17.116.275.116a.391.391 0 0 0 .274-.116L10.877.676a.394.394 0 0 0 .01-.56z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

			}
		}

		&_drop {
			
			&::after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='11' viewBox='0 0 6 11'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%230092cd' d='M.115.144a.384.384 0 0 0 0 .55l4.938 4.832-4.938 4.842a.384.384 0 0 0 0 .55.402.402 0 0 0 .56 0L5.885 5.81A.374.374 0 0 0 6 5.536a.39.39 0 0 0-.116-.275L.676.154a.393.393 0 0 0-.56-.01z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				width: 6px;
				height: 11px;
				background-size: cover;
				margin-left: 0;
				opacity: 0;
				transition: $tr;
			}

			&:hover {
				
				&::after {
					margin-left: 18px;
					opacity: 1;
				}
			}
		}
	}

	&__drop {
		top: 40px;
		left: 0;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
		background-color: #f0f4fe;
		width: 250px;
		z-index: 2;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		transition: $tr;

		&_desktop-active {
			opacity: 1;
			pointer-events: all;
			z-index: 50;
		}
	}

	&__link_drop {
		font-size: 14px;
		color: #0a2973;
		letter-spacing: 0.7px;
		padding: 0 20px;
		
	}

	&__social {
		
		ul{
			display: flex;
		}

		li {
			list-style: none;
			position: relative;
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;

			&::after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
				height: 100%;
				background-color: #061841;
			}
	
			&:first-child{
	
				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 1px;
					height: 100%;
					background-color: #061841;
				}
			}
		}

		a {
			padding: 0 20px;
		}

		img {
			transition: $tr;
			filter: brightness(100%);

			&:hover {
				filter: brightness(125%);
			}
		}
	}
}



.menu {
	display: flex;

	&__wrapper {
		background-color: #0a2973;
		height: 70px;

		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 999;
		}
	}

	@include screen('md', max) {
		justify-content: flex-end;
		align-items: center;
		background-color: $color-main;
	}
}

@include screen('md', max) {

	.nav {
		position: fixed;
		z-index: 999;
		left: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #0a2973;
		transition: $tr;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		

		&_active {
			left: 0;
			transition: $tr;
		}

		&__ul {
			width: 100%;
			padding: 25px 0;
			justify-content: center;
			flex-direction: column;
		}

		&__item {
			width: 100%;
			text-align: center;
			position: static;
			height: auto;

			&_parent {

				>.nav__link {

					position: relative;

				}

				&:hover {

					>.nav__link {

						&::after {
							border-left-color: $color-main;
						}
					}
				}
			}
		}

		&__link {
			line-height: normal;
			padding: 10px 40px 10px 30px;
			font-size: 18px;

			&_second {
				text-align: center;
				text-decoration: none;
				color: #fff;
			}

			&_drop {
				color: #fff;
			}
		}

		&__drop,
		&__sub {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 0;
			pointer-events: none;
			transition: $tr;
			background-color: #0a2973;

			&_active {
				opacity: 1;
				pointer-events: all;
				z-index: 50;
			}
		}

		&__sub {

			&_active {
				z-index: 60;
			}
		}

		&__prev {

			&_active {
				display: block;
				opacity: 1;
			}
		}
	}
}

@include screen('md', max) {
	.menu {

		&__wrapper {
			height: 40px;
		}
	}
}