



include ../blocks/tabs/tabs
include ../blocks/article/article
include ../blocks/burger/burger
include ../blocks/buttons/buttons
include ../blocks/calc/calc
include ../blocks/feedback/feedback
include ../blocks/form/form
include ../blocks/locations/locations
include ../blocks/menu/menu
include ../blocks/popups/popups
include ../blocks/slider/slider
