.slider {

	&__wrap {
		position: relative;
		height: 896px;
	}

	&-wrap {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 50px;

	}

	&__button {
		width: 38px;
		height: 38px;
		display: flex;
		align-items: center;
		background-color: #009fdf;
		border-radius: 50%;
		z-index: 10;
		position: absolute;
		cursor: pointer;
		transition: all .3s ease;
		top: 141px;

		&:hover {
			background-color: #0a2973;

			&::before {
				border-color: #fff;
			}
		}

		&::before {
			content: '';
			width: 12px;
			height: 12px;
			border-top: 1px solid ;
			border-left: 1px solid ;
			border-color: #fff;
			position: relative;
			transition: all .3s ease;
		}

		&_prev {
			right: 75px;

			&::before {
				transform: rotate(-45deg);
				right: -15px;
			}
		}

		&_next {
			right: 20px;

			&::before {
				transform: rotate(135deg);
				right: -10px;
			}
		}
	}

	&__box {
		position: absolute;
		top: 190px;
		right: 0;
		z-index: 10;
		max-width: 440px;
		width: 100%;
	}

	&__title {
		background-color: #009fdf;
		font-size: 17px;
		line-height: 25px;
		letter-spacing: 0.85px;
		padding: 15px 38px;
		color: #fff;
	}


	&__more {
		position: relative;
		width: 150px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0 32px;
		font-size: 15px;
		color: #fff;
		text-decoration: none;
		letter-spacing: 0.75px;
		margin-top: 10px;
		background-color: #ed1c24;
		transition: $tr;
		
		&::after {
			content: '';
			position: absolute;
			right: 16px;
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
			width: 6px;
			height: 6px;
			transition: $tr;
		}

		&:hover {
			color: #fff;
			background-color: #0a2973;

			&::after {
				border-color: #3a69db;
			}
		}
	}

	@include screen('xl', max) {

		&__box {
			max-width: 320px;
			right: 15px;
		}
	}

	@include screen('md', max) {

		&__box {
			top: 100px;
			max-width: 50%;
		}

		&__button {
			top: 50px;
		}
	}

	@include screen('sm', max) {

		&__box {
			max-width: 80%;
		}
	}
 }

.swiper {

	&-container {
		height: 896px;
		position: relative;
		overflow: hidden;
	}

	&-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}

	&-slide {
		position: relative;
		height: 100%;
		flex-shrink: 0;

		.wrap {
			position: relative;
		}
	}

	&-button-disabled {
		pointer-events: none;
	}

	@include screen('md', max) {
		
		&-container {
			height: 500px;
		}
	}

	@include screen('sm', max){

		&-container {
			height: 350px;
		}
	}
}

.otzyvy-wrap {
	position: relative;
}

.slider-otzyv {
	height: 350px;
	width: calc(100% - 118px);
	margin: 0 auto;

	@include screen('md', max) {
		height: 350px;

	}

	@include screen('sm', max){
		height: auto;
		width: calc(100%);
	}
}

.otzuv-nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;

	@include screen('sm', max){
		display: none;
	}
}

.otzyv-btn {
	width: 29px;
	height: 52px;
	position: relative;
	cursor: pointer;

	&::after,
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='52' viewBox='0 0 29 52'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%230a2973' d='M28.39-.001h-4.258L0 25.999l24.132 26h4.259l-24.133-26z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		background-size: cover;
		opacity: 1;
		transition: $tr;
	}

	&::after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='52' viewBox='0 0 29 52'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23009fdf' d='M28.39-.001h-4.258L0 25.999l24.132 26h4.259l-24.133-26z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		opacity: 0;
	}

	&-next {

		&::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='52' viewBox='0 0 29 52'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%230a2973' d='M.609-.001h4.258l24.133 26-24.133 26H.61l24.132-26z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

		}

		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='52' viewBox='0 0 29 52'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23009fdf' d='M.609-.001h4.258l24.133 26-24.133 26H.61l24.132-26z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		}
	}

	&:hover {

		&::before {
			opacity: 0;
		}

		&::after {
			opacity: 1;
		}
	}
}